/* Jumbotron, hero image and lead text */

.jumbotron {
    text-align: center;
    background-color: white!important;
    padding: 1rem 1rem!important;
}

h1.display-3 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #333c4e;
    font-size: 2rem;

}

p.lead {
    font-size: 0.9rem;
    line-height: 0.2em;
    font-weight: 300;
    color: #333c4e;
    padding: 1rem;
}

img.heroimg {
    width: 50%;
    margin: 0;
    padding: 0.5rem;
}
/* Input starts here */

button.btn-secondary {
    font-family: 'Barlow', sans-serif;
    background: #333c4e;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 0.8rem;
    border: none;
}


button.btn-secondary:hover {
    background: #fa6b00;
    cursor: pointer;
}

div.input-group {
    display: inline-flex;
    border-radius: 2rem;
    border: 10px solid rgb(255, 255, 255, 0.5);
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    width: 70%;

}

input.form-control {
    display: initial;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #333c4e!important;
    font-size: 0.75rem;
}