/* parent */
.container {
    text-align: center;
}

.orange-container {
    width: 100%;
    background-color: #FD8204;
    padding: 2rem 0 2em;
    border-top: 5px solid #fa6b00;

}
/* icons from front awesome*/

i {
    color: #f8f8f8!important;
}

/*items from inside container

REACTSTRAP */


.orange-container ul {
    list-style-type: none;
    margin-top: 5%;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}
.orange-container ul li {
    margin-bottom: 0;
}
.orange-container ul li p {
    padding: 0 2em;
}

